PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://<db_iquiz>:<db_Agentczz0870.>@iquiz.jmlk7wh.mongodb.net/?appName=iquiz

# Session
SESSION_SECRET=abe0caa4d32213185ae5c1f1f4d6687487bdce5ea92348a713435c64e08416d1

# JWT
JWT_SECRET=a07b23d93481171b27c49ca5ad713e3742ed80c73f620cc5ad2684a575cbf79b
JWT_EXPIRE=7d

# Discord OAuth2
DISCORD_CLIENT_ID=your-discord-client-id
DISCORD_CLIENT_SECRET=your-discord-client-secret
DISCORD_CALLBACK_URL=http://localhost:5000/api/auth/discord/callback

# Frontend URL (for CORS + redirects)
FRONTEND_URL=http://localhost:3000

# Admin
ADMIN_SECRET=your-admin-panel-secret

# Set to "true" to serve the frontend/  folder from the same Express server
# Useful for single-server deployments
SERVE_STATIC=false
